*{
	margin: 0;
	padding: 0;
}

.container{
	width: 100%;
	height: 100vh;
	background-color:  gold;
	background-position: center;
	background-size: cover;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}
.nav-bar{
	height: 12%;
	display: flex;
	align-items: center;
}
.logo{
	width: 50px;
	cursor: pointer;
	border-radius: 50%;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	margin-left: 60px;
}
ul li:hover{
	color: white;
	background-color: blue;
	font-size: 12px;
}
h2{
	color: white;
}
.g{
	color: green;
}
.w{
	color: white;
}
.b{
	color: blue;
}
h1{
	padding-left: center;
	color: white;
}

#blog{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px;
}
.blog-heading{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.blog-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	flex-wrap: wrap;
}
.blog-box{
	width: 350px;
	background-color: white;
	border: 1px solid white;
	margin: 20px;
}
.blog-img{
	width: 100%;
	height: auto;
}
.blog-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;

}
.blog-text{
	padding: 30px;
	display: flex;
	flex-direction: column;
}
.blog-text .blog-title{
	font-size: 1.3rem;
	font-weight: 500;
	color: black;
}
.blog-text .blog-title:hover{
	color: crimson;
	transition: all ease 0.5s;
}
a{
	text-decoration: none;
}
a:hover{
	background-color: white;
	color: crimson;
	font-weight: 500;
}
.blog-text p{
	color: white;
	font-size: 0.9rem;
	margin: 20px 0;
}
.rm{
	background-color: crimson;
	color: white;
	border-radius: 10px;
	width: 30%;
	padding: 10px;
}
.vv{
	margin-top: 20px;
}
footer{
	background-color: black;
	width: 100%;
	text-align: center;
}
footer p{
	color: white;
	font-size: 27px;
}
@media(max-width:1250px){
	.blog-box{
		width: 300px;
	}
}
@media(max-width:1100px){
	.blog-box{
		width: 70%;
	}
	footer p{
		font-size: 20px;
	}
}
@media(max-width:550px){
	.blog-box{
		margin: 20px 10px;
		width: 100%;
	}
	#blog{
		padding: 20px 10px;
	}
	footer{
		width: 100%;
	}
	footer p{
		font-size: 15px;
	}
}